@import "reset.css";

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

main {
  min-height: 650px;
}

/****************************nav-bar******************/


.nav-icon {
  color: white;
  padding: 15px;
  font-size: 27px;
  display: block;
}

#welcome-img {
  width: 100%;
}

/****************************welcome-section******************/

#welcome {
  background-image: url(../images/homepage-img.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

#welcome-text {
  text-align: center;
  padding-top: 380px;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 5px;
  font-weight: 700;
  text-shadow: 1px -1px 0px #310306;
}
.bg-dark {
    background-color: #14140c!important;
}

/* .navbar-dark {
  color: white!important;
} */
/****************************sub-welcome-section******************/

#sub-welcome {
  height: 260px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

#sub-welcome p {
  line-height: 25px;
  color: #14140c;
  letter-spacing: 2px;
}

a {
  color: #14140c;
}

#explore-link {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  letter-spacing: 3px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 30px;
}

.grow h2 {
    transition: all .8s ease-in-out;
}

.grow h2:hover {
    transform: scale(1.2);  
}

.fa-glass-martini-alt {
  color: #14140c;
}

/****************************carousel??*****************/

/****************************footer*****************/

footer {
  height: 150px;
  color: white;
  background-color: #14140c;
}

.footer-div {
  text-align: center;
  padding: 40px;
  line-height: 30px;
}
.footer-div p {
  font-size: 0.75rem;
  letter-spacing: 3px;
}

.footer-icon {
  color: white;
  padding: 15px 10px 0;
  font-size: 0.9rem;
}

/****************************sign-up-page*****************/
/****************************sign-up-page*****************/

.signup {
  height: 670px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

.signup h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 80px;
  /* padding-bottom: 15px; */
  font-weight: 600;
}

.form-wrapper {
margin-top: 50px;
}

.signup-form {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 250px;
  height: 35px;
  border: 2px solid #B0B0B0;
}

.sign-log-btn {
  width: 200px;
  height: 40px;
  background-color: #14140c;
  border-style: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 4px;
  margin-top: 15px;
}

.sign-log-btn:hover {
  background-color: white;
  color: #14140c;
  font-weight: 600;
  border: 2px solid #14140c;
}

::placeholder {
  text-align: center;
}

.message-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  margin: 0 auto;
}

/****************************login-page*****************/
/****************************login-page*****************/

.login {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  
}
.login-form {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.login h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 25px;
  padding-top: 80px;
  padding-bottom: 15px;
  font-weight: 600;
}

/****************************about-us*****************/
/****************************about-us*****************/

#about-img {
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/about-us-cocktails.jpg); */
  background-image: url(../images/about-us-cocktails.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-width: 100%; */
  height: 300px;
  /* backrgound-image-filter: brightness(57%); */
}

#about-img h2 {
  color: white;
  padding-top: 250px;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 600;
  text-shadow: 2px 2px 0px rgba(107,47,35,0.72);
}


#about-parent-div {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
  
}

#about-us-text {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

#about-us p {
  line-height: 25px;
  letter-spacing: 1.2px;
}

#welcome-msg {
  font-size: 1.5rem;
  line-height: 35px;
  letter-spacing: 1.2px;
}


/****************************tool-section*****************/


#tool-text {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 25px;
  letter-spacing: 1.2px;

  margin-left: 20px;
  margin-right: 20px;
}

#tool-text > h2 {
  font-size: 1.5rem;
  letter-spacing: 1.2px;
}

#tool-div img {
  width: 100%;
}

#tool-img-text {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; 
  margin-left: 20px;
  margin-right: 20px;
  line-height: 30px;
}


#explore-btn {
  background-color: #14140c;
  color: white;
  width: 150px;
  text-decoration: none;
}

#explore-btn {
  transition: all .8s ease-in-out;
}

#explore-btn:hover {
  transform: scale(1.2);  
}

/*************************recipes*********************/

#nav {
  border-bottom: 1px solid white;
}

.bg-dark {
  background-color: #010101!important;
}

#recipes-header {
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/recipes-banner.jpg); */
  background-image: url(../images/cocktail-banner2.jpeg);
  /* background-image: url(/images/test.jpg); */
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

#recipes-welcome-msg {
    color: white;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 40px;
    
}

#recipes-header {
  padding: 30px;
  
}

#random-drink-container {
    display: none;
}

#test-container {
  display: none;
}

#test {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#testBtn:hover {
  background-color: white;
  color: #14140c;
  font-weight: 600;
  border: 2px solid #14140c;
}

#drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 20px;
}

#all-recipes-container h2 {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 3px;
}


#randomDiv {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
}

#random-tool {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#random-tool p {
  font-size: 0.9rem;
  padding-bottom: 10px;
}

#search-tool {
  display:flex;
  
}

#search-bar {
  flex-grow: 1;
  height: 40px;
  background-color: #010101;
  border: 1px solid white;
  color: white;

}

#testBtn {
  color: white;
  background-color: #010101;
  border: 1px solid white;
  
  width: 100px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}


#randomBtn {
  border: none;
  background-color: white;
  font-size: 3.5rem;
  color: #14140c;
  padding-top: 15px;
  outline: none;	        
}


.rotate-center {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}
.rotate-center:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}


#randomDrink {
  display: flex;
  justify-content: center;
}

#randomDrinkHeading {
  height: 90px;
  margin-top: 0;
}

#hide {
  display: none;
  color: 14140c;
  background-color: white;
  
  border-color: #14140c;
  width: 140px;
  height: 35px;
  font-size: 1rem;
  letter-spacing: 1px;

  margin-top: 20px;
  margin-bottom: 20px;
}

#hide:hover{
  background-color: #14140c;;
  color: white;
  /* font-weight: 600; */
  border: 2px solid white;
}

article {
    text-align: left;
    color: #14140c;
    width: 320px;
    background-color: white;
    margin: 20px 15px;
    border: solid 1px #14140c;
    /* box-shadow: 5px 5px 5px -1px rgba(89,89,89,0.49); */
}

article img {
  width: 318px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: solid 1px #14140c;
  
}

article p {
  padding: 30px;
  text-align: center;
  line-height: 25px;
  letter-spacing: 1px;
  color:	#696969;
}

article ul {
  text-align: center;
  line-height: 23px;
  color: 		#696969;
}


.drink h3 {
  color: #14140c;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 45px;
  padding-top: 70px;
}


#err-msg {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}




@media (min-width: 769px) {
  
    /**********************homepage******************/
  
  h1 {
    font-size: 4rem;
    letter-spacing: 10px;
  }

  #welcome {
    height: 500px;
  }
  #sub-welcome {
    height: 300px;
  }

  #sub-welcome p {
    line-height: 40px;
    font-size: 1.2rem;
  }

  #sub-welcome a h2 {
    letter-spacing: 7px;
    font-size: 1.8rem;
  }


/**********************about-us******************/

  #about-parent-div {
    height: 1500px;
  }

  #about-img {
    height: 500px;
  }

  #about-img h2 {
    padding-top: 300px;
    font-size: 4rem;
  }

  #about-us-text {
    margin-left: 150px;
    margin-right: 150px;
  }

  #about-us-text h2 {
    font-size: 1.9rem;
    margin-top: 30px;
  }

  #about-parent-div p {
    font-size: 1.1rem;
  }

  #tool-text {
    margin-left: 150px;
    margin-right: 150px;
  }

  #tool-text h2 {
    font-size: 1.9rem;
  }

  #tool-img-text {
    margin-top: 30px;
    height: 150px;
  }

  #tool-div img {
    margin-top: 30px;
  }

/**********************tools******************/


/***************************recipes-desktop*****************/

#recipes-welcome-msg {
  font-size: 3rem;
  font-weight: 600;
}

#all-recipes-container h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 5px;
}

#random-tool p {
  font-size: 1.1rem;
  padding: 20px 0;
  line-height: 25px;
}

}